<div class="row">
    <h2>Hisrorial Academico</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio1</h2> - <h3>Graduacion1</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>

        <ul>
            <li>
                <h2>Estudio2</h2> - <h3>Graduacion2</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>

        <ul>
            <li>
                <h2>Estudio3</h2> - <h3>Graduacion3</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>

        <ul>
            <li>
                <h2>Estudio4</h2> - <h3>Graduacion4</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>
    </div>
</div>

