<div class="row">
    <h2>Hisrorial Laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>trabajo1</h2> - <h3>tiempo1</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>

        <ul>
            <li>
                <h2>trabajo2</h2> - <h3>tiempo2</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>

        <ul>
            <li>
                <h2>trabajo3</h2> - <h3>tiempo3</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>

        <ul>
            <li>
                <h2>trabajo4</h2> - <h3>tiempo4</h3>
            </li>
            <p>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, modi ut aliquam eius eaque unde laboriosam quod culpa ipsum harum quibusdam repellendus tempora deleniti officiis pariatur suscipit natus dignissimos sed.</h2>
            </p>
        </ul>
    </div>
</div>
